.main-services h2 {
    text-align: center;
    color: rgb(66, 66, 66);
    padding: 30px 0;
    font-size: 30px;
    text-transform: uppercase;
    position: relative;
}
.main-services h2::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 60px;
    background-color: #febb17;
    left: 50%;
    transform: translateX(-60%);
    bottom: 15px;
}
.main-services-contain {
    display: flex;
    padding: 10px 0;
    flex-wrap: wrap;
    justify-content: space-around;
}
.main-services-contain .box {
        display: flex;     
        width: 400px;
        height: 150px;
        margin-top: 10px;
        
}
.main-services-contain .box:hover > .symbol{
    background-color: white;
    border: 1px solid #febb17;
   
}

.main-services-contain .box:hover > .symbol .services-icon {
    color: #febb17;
}


.main-services-contain .box .symbol {
    width: 20%;
    height: 70px;
    border-radius: 100%;
    background-color: #febb17;
    position: relative;
}



.main-services-contain .box .symbol i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    color: white;
}
.main-services-contain .box .info {
    width: 80%;
    padding: 0 20px;
}
.main-services-contain .box .info .p-title {
    font-size: 25px;
    color: #424242;
}
.main-services-contain .box .info .p-info {
    font-size: 20px;
    color: #656464;
    margin-top: 10px;
} 